burppro.AppDir/usr/share/burpsuite-professional/burploader.jar
burppro.AppDir/usr/share/burpsuite-professional/burpsuite_pro_v2023.10.2.jar
burppro.AppDir/usr/share/jdk/bin/*
burppro.AppDir/usr/share/jdk/conf/*
burppro.AppDir/usr/share/jdk/include/*
burppro.AppDir/usr/share/jdk/jmods/*
burppro.AppDir/usr/share/jdk/legal/*
burppro.AppDir/usr/share/jdk/lib/*
